.tool_bar
  .el-input--small .el-input__inner
    padding-left 30px
.el-table th
  background-color #e5eaf2
  text-align left
.el-table table th div.cell
  background-color transparent!important;
  color #666
  font-size 12px
  font-weight 700
.el-date-editor.el-input, .el-date-editor.el-input__inner
  width 180px
.el-button--table
  border none
  background-color transparent
  color #5d91f7!important
  padding 0
.importExcel
  .el-upload, .el-upload-dragger
    width 100%